@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background-color: rgb(36, 36, 36);
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(0, 182, 243);
    border-radius: 50px;
}

h1 {
    font-family: "Space Mono", monospace;
}



@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#animation-rotate {
    animation: rotation 12s infinite linear;
}

/* #blur {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    backdrop-filter: blur(200px);
} */