@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    font-family: "Space Mono", monospace;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


/* #blur {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    backdrop-filter: blur(200px);
} */